argparse
clip
k_diffusion
sounddevice
torch
wavfile
mtranslate
gtts
openai-whisper
ffmpeg-python
mediapipe
pygame
opencv-python
flask-socketio
requests

# Incluir el repositorio de v-diffusion-pytorch desde GitHub
git+https://github.com/crowsonkb/v-diffusion-pytorch.git
